.container{
    width: 607px;
    height: 800px;
    background: linear-gradient(230deg,rgb(65, 13, 210),rgba(58, 7, 58, 0.831));
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
}
.top-bar{
    display: flex;
    gap: 14px;
    padding-top: 60px;
    justify-content: center;
}
.top-bar input{
    display: flex;
    width: 362px;
    height: 76px;
    background-color: azure;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background-color: azure;
    border-radius: 40px;
    cursor: pointer;
}
.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
}
.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 100px;
    font-weight: 400;

}
.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-family: roboto;
    font-size: 60px;
    font-weight: 400;
}
.data-container{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.elements{
    margin: auto;
    display: flex;
    gap: 12px;
    align-items: flex-start;

}
.data{
    font-size: 34px;
    font-weight: 400;
    margin-top: -12px

}
.text{
    font-size: 20px;
    font-weight: 400;
}
.icon{
    margin-top: 10px;
}